<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->
    	<bean id="singletonDeveloper" class="com.learn.spring.Lesson02_SimpleSpringProject.Developer">
    		<property name="age" value="10"></property>
    		<property name="computer" ref="laptop"></property>
    	</bean>
    	<bean id="prototypeDeveloper" class="com.learn.spring.Lesson02_SimpleSpringProject.Developer" scope="prototype" autowire="byName">
    	
    	</bean>
    	<bean id="laptop" class="com.learn.spring.Lesson02_SimpleSpringProject.Laptop">
    		<constructor-arg value="500"></constructor-arg>
    	
    	</bean>
    	<bean id="computer" class="com.learn.spring.Lesson02_SimpleSpringProject.Desktop" scope="prototype">
    		<constructor-arg value="1000"></constructor-arg>
    	</bean>
    	
</beans>